<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404</title>
    <link rel="stylesheet" href="/css/404.css">
</head>
<body>
    <div class="container">
        <div class="stars"></div>
        <div class="content">
            <div class="number-display">
                <span class="digit">4</span>
                <div class="moon-icon-wrapper"> 
                    <span class="moon-icon">🌚</span> 
                </div>
                <span class="digit">4</span>
            </div>
            <p class="message">looks like you took a wrong turn</p>
        </div>
    </div>
</body>
</html>