<%- include('./includes/dashboard/header.ejs')-%>
<header>
  <div class="container nav">
    <div class="logo">
      <a class="logo-text" href="MCI.html">MCI</a>
    </div>

    <nav>
      <ul>
        <li><a href="#">َAbout Us</a></li>
        <li><a href="/chat">Support</a></li>
        <li><a href="/ai-chat">AI</a></li>
        <li><a href="#">Shopping cart</a></li>
        <li><a href="#">Sing Up</a></li>
      </ul>
    </nav>
  </div>
</header>

<main class="container hero">
  <div class="hero-grid">
    <div class="hero-content">
      <h1>
        Manage customers <br />
        with<span class="gradient-text"> MCI</span>
      </h1>

      <div class="hero-actions"></div>
    </div>

    <div class="phone-card">
      <div class="app-screen">
        <div class="app-top">
          <div class="greeting"></div>
        </div>
        <div class="balance-card">
          <small>Remaining Data</small>
          <h2>99%</h2>
        </div>
        <div class="mini-row">
          <div class="mini-box">
            <strong>20GB</strong>
            <span> Sales Volume</span>
          </div>
          <div class="mini-box">
            <strong>10GB</strong>
            <span>Balance</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
<%- include('./includes/dashboard/footer.ejs')-%>
