<%- include('./includes/login/header.ejs') -%>
<section class="contact">
  <div class="contact-wrapper">
    <div class="contact-circle"></div>
    <div class="contact-header"></div>
    <div class="contact-form-wrapper">
      <span class="material-symbols-rounded">error</span>
      <h4>wrong password</h4>
      
      <a href="/login" class="login-error-button">back to main page</a>
    </div>
  </div>
</section>
<%- include('./includes/login/footer.ejs') -%>
